* {
  box-sizing: border-box;
}

:root {
  --font-heading: "Sen", sans-serif;
  --primary-color: #ffb900;
}

html {
  font-size: 62.5%;
}
/* khôi phục lại cỡ chữ mặc định theo rem  */
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}
.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

.btn {
  display: inline-block;
  padding: 0 16px;
  color: #fff;
  line-height: 50px;
  min-width: 118px;
  text-align: center;
  font-weight: 600;
  font-size: 1.6rem;
  text-align: center;
  border-radius: 999px;
  background-color: #171100;
}

.btn:hover {
  opacity: 0.9;
}
/* header  */
.header {
  background-color: #fffcf4;
}

.header img {
  height: 34px;
  max-width: 85px;
}

.header.fixed {
  position: sticky;
  top: -28px;
  z-index: 1;
}

.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}

.nav {
  margin-left: auto;
}

.nav ul {
  display: flex;
}

.nav a {
  font-size: 16px;
  color: #5f5b53;
  padding: 8px 21px;
  position: relative;
}

.nav li.active a,
.nav a:hover {
  color: #171100;
  /* font-weight: 600; */
  text-shadow: 1px 0 0 currentColor;
}

.nav li.active a::after {
  position: absolute;
  content: "";
  left: 21px;
  bottom: 6px;
  width: 12px;
  height: 2px;
  display: block;
  border-radius: 1px;
  background: #171100;
}

.header .btn-signup {
  min-width: 144px;
}

.header .action {
  margin-left: 49px;
}

/* hero  */
.hero {
  padding: 56px 0 65px;
  background-color: #fffcf4;
}

.hero .body {
  display: flex;
}
/* hero left  */
.hero .media-block {
  width: 48%;
  position: relative;
}

.hero .media-block .img {
  width: 470px;
  height: 685px;
  object-fit: cover;
  border-radius: 20px;
}

.hero .hero-summary {
  position: absolute;
  bottom: 48px;
  right: 0;
  width: 270px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 16px 32px 0 rgba(0, 0, 0, 0.05);
  padding: 24px;
}

.hero-summary .item {
  display: flex;
  align-items: center;
}

.hero-summary .item {
  margin-top: 22px;
}

.hero-summary .icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff9e8;
}

.hero-summary .icon2 {
  background-color: #fcefff;
}
.hero-summary .icon3 {
  background-color: #ebeaff;
}

.hero-summary .info {
  margin-left: 16px;
}

.hero-summary .label {
  font-size: 1.4rem;
  line-height: 1.86;
  color: #5f5b53;
}

.hero-summary .title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.67;
}

/* hero right  */

.hero .content-block {
  width: 52%;
  padding-left: 130px;
  padding-top: 64px;
}

.hero .heading {
  font-family: var(--font-heading);
  color: #171100;
  font-weight: 700;
  font-size: 5.6rem;
  line-height: 1.17;
  letter-spacing: -1.16%;
}

.hero .desc {
  color: #5f5b53;
  font-size: 1.8rem;
  line-height: 1.67;
  margin-top: 22px;
}

.hero .cta-group {
  margin-top: 33px;
  display: flex;
  align-items: center;
}

.hero-cta {
  min-width: 180px;
  line-height: 64px;
  background: var(--primary-color);
}

.hero .watch-video {
  border: none;
  background: transparent;
  display: flex;
  margin-left: 28px;
  align-items: center;
}

.hero .watch-video .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.07);
}

.hero .watch-video span {
  font-weight: 600;
  font-size: 1.8rem;
  margin-left: 14px;
  line-height: 1.67;
  color: #171100;
  cursor: pointer;
}

.hero .desc-recent {
  margin-top: 48px;
}

.hero .desc-students {
  margin-top: 8px;
}

.hero .desc-students strong {
  font-weight: 700;
  font-size: 4.4rem;
  font-family: var(--font-heading);
  line-height: 1.23;
  letter-spacing: 0%;
  color: #171100;
  margin-right: 15px;
}

.hero .desc-students strong:nth-child(2) {
  margin-left: 28px;
}
