* {
  box-sizing: border-box;
}

:root {
  --font-heading: "Sen", sans-serif;
  --primary-color: #ffb900;
}

html {
  font-size: 62.5%;
}
/* khôi phục lại cỡ chữ mặc định theo rem  */
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  height: 6200px;
}
/* khi 1 hàng có quá nhiều dòng thì chúng ta có thể rút gọn theo số dòng mong mún trong webkit-line-clamp */
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 2);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

a {
  text-decoration: none;
}

.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}
.heading-lv2 {
  color: #171100;
  font-family: var(--font-heading);
  font-weight: 700;
  font-size: 3.8rem;
  line-height: 1.27;
  letter-spacing: -0.76px;
}
.btn {
  display: inline-block;
  padding: 0 16px;
  color: #fff;
  line-height: 50px;
  min-width: 118px;
  text-align: center;
  font-weight: 600;
  font-size: 1.6rem;
  text-align: center;
  border-radius: 999px;
  background-color: #171100;
}

.btn:hover {
  opacity: 0.9;
  cursor: pointer;
}
/* header  */
.header {
  background-color: #fffcf4;
}

.header img {
  height: 34px;
  max-width: 85px;
}

.header.fixed {
  position: sticky;
  top: -28px;
  z-index: 1;
}

.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}

.nav {
  margin-left: auto;
}

.nav ul {
  display: flex;
}

.nav a {
  font-size: 16px;
  color: #5f5b53;
  padding: 8px 21px;
  position: relative;
}

.nav li.active a,
.nav a:hover {
  color: #171100;
  /* font-weight: 600; */
  text-shadow: 1px 0 0 currentColor;
}

.nav li.active a::after {
  position: absolute;
  content: "";
  left: 21px;
  bottom: 6px;
  width: 12px;
  height: 2px;
  display: block;
  border-radius: 1px;
  background: #171100;
}

.header .btn-signup {
  min-width: 144px;
}

.header .action {
  margin-left: 49px;
}

/* hero  */
.hero {
  padding: 56px 0 65px;
  background-color: #fffcf4;
}

.hero .body {
  display: flex;
}
/* hero left  */
.hero .media-block {
  width: 48%;
  position: relative;
}

.hero .media-block .img {
  width: 470px;
  height: 685px;
  object-fit: cover;
  border-radius: 20px;
}

.hero .hero-summary {
  position: absolute;
  bottom: 48px;
  right: 0;
  width: 270px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 16px 32px 0 rgba(0, 0, 0, 0.05);
  padding: 24px;
}

.hero-summary .item {
  display: flex;
  align-items: center;
}

.hero-summary .item {
  margin-top: 22px;
}

.hero-summary .icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff9e8;
}

.hero-summary .icon2 {
  background-color: #fcefff;
}
.hero-summary .icon3 {
  background-color: #ebeaff;
}

.hero-summary .info {
  margin-left: 16px;
}

.hero-summary .label {
  font-size: 1.4rem;
  line-height: 1.86;
  color: #5f5b53;
}

.hero-summary .title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.67;
}

/* hero right  */

.hero .content-block {
  width: 52%;
  padding-left: 130px;
  padding-top: 64px;
}

.hero .heading {
  font-family: var(--font-heading);
  color: #171100;
  font-weight: 700;
  font-size: 5.6rem;
  line-height: 1.17;
  letter-spacing: -1.16%;
}

.hero .desc {
  color: #5f5b53;
  font-size: 1.8rem;
  line-height: 1.67;
  margin-top: 22px;
}

.hero .cta-group {
  margin-top: 33px;
  display: flex;
  align-items: center;
}

.hero-cta {
  min-width: 180px;
  line-height: 64px;
  background: var(--primary-color);
}

.hero .watch-video {
  border: none;
  background: transparent;
  display: flex;
  margin-left: 28px;
  align-items: center;
}

.hero .watch-video .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.07);
}

.hero .watch-video span {
  font-weight: 600;
  font-size: 1.8rem;
  margin-left: 14px;
  line-height: 1.67;
  color: #171100;
  cursor: pointer;
}

.hero .desc-recent {
  margin-top: 48px;
}

.hero .desc-students {
  margin-top: 8px;
}

.hero .desc-students strong {
  font-weight: 700;
  font-size: 4.4rem;
  font-family: var(--font-heading);
  line-height: 1.23;
  letter-spacing: 0%;
  color: #171100;
  margin-right: 15px;
}

.hero .desc-students strong:nth-child(2) {
  margin-left: 28px;
}

/* popular  */

.popular {
  padding: 65px 0;
  margin-top: 135px;
}

.popular-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular-top .desc {
  width: 458px;
  color: #5f5b53;
  font-size: 1.8rem;
  line-height: 1.67;
  margin-top: 16px;
}

.popular-top .control {
  display: flex;
  gap: 18px;
}
.popular-top .control-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  width: 40px;
  border-radius: 50%;
  height: 40px;
  font-style: 1.2rem;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
.popular-top .control-btn:hover {
  background: var(--primary-color);
  color: #fff;
  cursor: pointer;
}
/* course  */
.popular .course-list {
  display: flex;
  margin-top: 55px;
  gap: 30px;
}

.popular .course-item .thumb {
  border-radius: 12px 12px 0 0;
  object-fit: cover;
  height: 278px;
  width: 100%;
}

.popular .course-item {
  border-radius: 12px;
  box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
  background-color: #fff;
}

.course-list .head {
  display: flex;
}

.course-list .info {
  padding: 16px 22px 22px;
}

.course-list .head,
.course-list .rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.course-list .title {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #171100;
  margin-right: 15px;
}

.course-list .rating {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  color: var(--primary-color);
}

.course-list .value {
  font-size: 1.6rem;
  line-height: 1.75;
}

.course-list .desc {
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 26px;
  margin-top: 6px;
  width: 326px;
  margin-bottom: 11px;
}

.course-list .foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}

.course-list .btn-book:hover {
  background: var(--primary-color);
}

.course-list .btn-book {
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 50px;
  width: 118px;
  align-items: center;
  border-radius: 25px;
  border: none;
}

.course-list .price {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #171100;
}

/* feedback  */

.feedback {
  margin-top: 135px;
  padding: 96px 0;
  background-color: #2e2100;
}

.feedback-list {
  display: flex;
  overflow: hidden;
}

.feedback-item {
  display: flex;
  flex-shrink: 0;
  width: 100%;
}

.feedback-list .info .avatar {
  height: 76px;
  width: 76px;
  border-radius: 50%;
  object-fit: cover;
}

.feedback-list .desc-name {
  color: #f7f7f7;
  font-family: var(--font-heading);
  font-size: 2.4rem;
  line-height: 1.42;
  margin-top: 18px;
  font-weight: 700;
}

.feedback-list .desc {
  color: #bfbcb2;
  font-size: 1.4rem;
  line-height: 1.86;
  margin-top: 4px;
}

.feedback-item .dots {
  margin-top: 28px;
  display: flex;
  gap: 6px;
  cursor: pointer;
}

.feedback-item .dot.active {
  background-color: var(--primary-color);
  cursor: default;
}

.feedback-item .dot {
  background-color: #634700;
  border-radius: 50%;
  height: 6px;
  width: 6px;
  gap: 12px;
}

.feedback-item .content {
  width: 66%;
  margin-left: auto;
}

.feedback-item blockquote {
  color: #ffffff;
  font-size: 2.6rem;
  line-height: 40px;
  font-style: italic;
}
